@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #fafafa;
  --background-secondary: #e6e6e6;

  --accent-600: #9333ea;
}

:root.dark {
  --foreground: #fafafa;
  --background: #000000;
  --background-secondary: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);

  transition-property: var(--foreground), var(--background);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
